*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif,Arial, Helvetica;
}

body {
    background-color: #f5f7fa;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    border-bottom: 1px solid #E3E8F0;
}

.nav-left img{
    height: 40px;
    cursor: pointer;
}

.nav-center{
    display: flex;
    align-items: center;
    gap: 25px;
}
.nav-center h3{
    margin: 0;
    font-size: 15px;
    font-weight: 550;
    cursor: pointer;
}
.nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 30px;
}
.dwd-text{
    margin: 10px;
    font-size: 15px;
    font-weight: 550;
    cursor: pointer;
}
.nav-right img{
    display: flex;
    height: 40px;
}

section {
    margin: 20px 40px;
    padding: 30px 20px;
    border-radius: 8px;
}
section img {
    width: 500px;
    height: auto;
    display: block;
}
.section1 {
    padding: 20px 0;
}
.section1 img {
    display: block;
    margin: auto;
    width: 1200px;
    max-width: 800px;
}

.section2 {
    
    margin: 20px 40px;
    padding: 30px;
    border-radius: 12px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.section2 img {
    width: 790px;
    height: 300px;
    border-radius: 10px;
}

.section3,
.section4,
.section5,
.section6,
.section7,
.section8,
.section9,
.section10 {
    margin: 20px 40px;
    padding: 30px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3 img,
.section4 img,
.section5 img,
.section6 img,
.section7 img,
.section8 img,
.section9 img,
.section10 img {
    width: 100%;
    max-width: 1200px; 
    height: auto;
    display: block;
}

.paytm-footer {
    background-color: #ffffff;
    padding: 40px 60px;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-row {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 14px 0;
}

.footer-row .title {
    font-size: 15px;
    font-weight: 600;
    color: #7E818C;
}

.footer-row .icon {
    font-size: 15px;
    color: #555;
}

.footer-row .line {
    flex: 1;
    height: 1px;
    background-color: #dcdcdc;
    margin-left: 15px;
}

.footer-links {
    display: flex;
    gap: 90px;
    padding: 15px 25px;
    font-size: 12px;
    color: #555;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #dcdcdc;
    margin-top: 40px;
    padding-top: 20px;
    font-size: 14px;
    color: #555;
}

.social {
    display: flex;
    align-items: center;
    gap: 12px;
}

.social img {
    width: 30px;
    height: 29px;
    cursor: pointer;
}
